.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-image: linear-gradient(to right,rgb(187, 65, 235), rgb(68, 7, 83) 50%);
}

h1 {
  margin: 5% 5% 5% 5%;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #cabee9;
}

p {
  font-size: 2rem;
  color: #b02bb4;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
